Agregar viaje
<hr>
Editar viaje
<br>

<div *ngFor="let viaje of viajesDetallesToDisplay; let i index">
    <mat-slide-toggle [checked]="viaje.isViajeTerminado" [disabled]="viaje.isViajeTerminado"
    (change)="isViajeTerminadoChange($event, viaje)">
        ¿Viaje terminado?
    </mat-slide-toggle>
    <br>
    {{ viaje.nombreOrigen }} => {{ viaje.nombreDestino }}
    <br>
    Chofer: {{ viaje.chofer }}
    <br>
    Producto: {{ viaje.productos }}
    <br>
    <div *ngIf="viaje.ayudante">Ayudante: {{ viaje.ayudante }}</div>
    <div *ngIf="!viaje.ayudante">Sin ayudante</div>
</div>