<div fxLayoutAlign="center center">
    <h1>Cargas</h1>
</div>
<hr>
<div fxLayoutAlign="center center">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [formControl]="date"
            (dateChange)="findLoads($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div fxLayoutAlign="center">
    <mat-spinner *ngIf="!displayCargas && !displayTrucks"></mat-spinner>
</div>
<mat-accordion *ngIf="displayCargas && displayTrucks" class="example-headers-align">
    <mat-expansion-panel *ngFor="let truck of trucks" [expanded]="false" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ truck.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="truckHasLoad(truck.name)">
            <app-carga-details [cargas]=cargas [truckName]=truck.name></app-carga-details>
        </div>
        <mat-action-row>
            <button mat-icon-button aria-label="Eliminar carga" *ngIf="truckHasLoad(truck.name)" mat-button
                color="primary" (click)="openDialog(truck.name)">
                <!-- "onDeleteCarga(truck.name)" -->
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="Ver carga" *ngIf="truckHasLoad(truck.name)" mat-button color="primary"
                [routerLink]="['/cargas/more']"
                [queryParams]="{fechaCarga: formatDate(), camioneta: truck.name, chofer: truck.driverName}">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button aria-label="Editar carga" *ngIf="truckHasLoad(truck.name)" mat-button
                color="primary" [routerLink]="['/cargas/edit']"
                [queryParams]="{fechaCarga: formatDate(), camioneta: truck.name, chofer: truck.driverName}">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Agregar carga" *ngIf="!truckHasLoad(truck.name)" mat-button
                color="primary" [routerLink]="['/cargas/new']"
                [queryParams]="{fechaCarga: formatDate(), camioneta: truck.name, chofer: truck.driverName}">
                <mat-icon>add_circle</mat-icon>
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>