<div fxLayoutAlign="center center">
    <h1>Cargas</h1>
</div>
<hr>
<div fxLayoutAlign="center center">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [formControl]="date"
            (dateChange)="findLoads($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div fxLayoutAlign="center">
    <mat-spinner *ngIf="!displayLoads && !displayTrucks"></mat-spinner>
</div>
<mat-accordion *ngIf="displayCargas && displayTrucks" class="example-headers-align">
    <mat-expansion-panel *ngFor="let truck of trucks" [expanded]="false" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ truck.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="truckHasLoad(truck.name)">
            <app-carga-details [cargas]=cargas [truckName]=truck.name></app-carga-details>
        </div>
        <mat-action-row>
            <a *ngIf="!truckHasLoad(truck.name)" mat-button color="primary" [routerLink]="['/cargas/new']"
                [queryParams]="{fechaCarga: formatDate(), camioneta: truck.name, chofer: truck.driverName}">
                Agregar carga
            </a>
            <a *ngIf="truckHasLoad(truck.name)" mat-button color="primary" [routerLink]="['/cargas/more']"
                [queryParams]="{fechaCarga: formatDate(), camioneta: truck.name, chofer: truck.driverName}">
                Ver más 
            </a>
            <a *ngIf="truckHasLoad(truck.name)" mat-button color="primary" [routerLink]="['/cargas/edit']"
                [queryParams]="{fechaCarga: formatDate(), camioneta: truck.name, chofer: truck.driverName}">
                Editar carga
            </a>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>