<mat-toolbar color="primary">
    <div fxHide.gt-lg>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">Transportes Villagomez</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth">
                <a routerLink="/login">Entrar</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/cargas">Cargas</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/viajes">Viajes</a>
            </li>
            <li *ngIf="isAuth">
                <a style="cursor: pointer" (click)="onLogout()">Salir</a>
            </li>
        </ul>
    </div>
</mat-toolbar>