<div fxLayoutAlign="center center">
    <h2 style="margin-bottom: 0px;">Editar carga</h2>
</div>
<div fxLayoutAlign="center center">
    <h3 style="margin-bottom: 10px;">Fecha de servicio: {{ fechaServicio }}
    </h3>
</div>
<form [formGroup]="cargasForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submitCarga()">

    <mat-form-field class="form-element">
        <mat-label>Origen</mat-label>
        <mat-select formControlName="origen">
            <mat-option value="0">
                Seleccione Origen
            </mat-option>
            <mat-option *ngFor="let orig of origenOptions" [value]="orig.id"
                (onSelectionChange)="updateOrigenToSave($event, orig)">
                {{ orig.nombreOrigen }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element" *ngIf="currentOrigen">
        <mat-label>Destino</mat-label>
        <mat-select formControlName="destino">
            <mat-option value="0">
                Seleccione Destino
            </mat-option>
            <mat-option *ngFor="let destino of currentOrigen.destinos" [value]="destino.id"
                (onSelectionChange)="updateDestinoToSave($event, destino)">
                {{ destino.nombreDestino }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-slide-toggle formControlName="hasAyudante">¿Ayudante?</mat-slide-toggle>

    <div *ngIf="hasAyudante.value">
        <mat-form-field class="form-element">
            <mat-label>Ayudante</mat-label>
            <mat-select formControlName="ayudante">
                <mat-option value="0">
                    Seleccione Ayudante
                </mat-option>
                <mat-option *ngFor="let ayudante of ayudantes" [value]="ayudante"
                    (onSelectionChange)="updateAyudanteToSave($event, ayudante)">
                    {{ ayudante }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field class="form-element" *ngIf="currentDestino">
        <mat-label>Productos</mat-label>
        <mat-select formControlName="productos" multiple>
            <mat-option *ngFor="let prod of currentDestino.productos" [value]="prod.id"
                (onSelectionChange)="productChange($event, prod)">
                {{ prod.nombreProducto }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="start center" class="form-element"
        *ngIf="productosDetailsForms.controls.length > 0">
        <div fxFlex="40%">
            Producto
        </div>
        <div fxFlex="30%" style="padding-left: 10px;">
            Cantidad
        </div>
        <div fxFlex="30%" style="padding-left: 10px;">
            Remisión
        </div>
    </div>

    <div formArrayName="productosDetail" fxLayout="column" class="form-element">
        <div *ngFor="let productDetail of productosDetailsForms.controls; let i=index" [formGroupName]="i"
            fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="40%">
                {{ productosSeleccionados[i].nombreProducto }}
            </div>
            <div fxFlex="25%">
                <mat-form-field class="subform-element">
                    <input type="text" matInput formControlName="cantidad">
                </mat-form-field>
            </div>
            <div fxFlex="25%">
                <mat-form-field class="subform-element">
                    <input type="text" matInput formControlName="remision">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between space-around" class="form-element">
        <a mat-button mat-raised-button color="warn" [routerLink]="['/cargas']">Canclear</a>
        <button mat-button mat-raised-button color="primary">Guardar Carga</button>
    </div>
</form>