<div fxLayoutAlign="center center">
    <h1>Viajes</h1>
</div>
<hr>
<div fxLayoutAlign="center center">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [formControl]="date"
            (dateChange)="findViajes($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div fxLayoutAlign="center">
    <mat-spinner *ngIf="!displayViajes && !displayTrucks"></mat-spinner>
</div>

<mat-accordion *ngIf="displayViajes && displayTrucks" class="example-headers-align">
    <mat-expansion-panel *ngFor="let truck of trucks" [expanded]="false" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ truck.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="truckHasViaje(truck.name)">
            <app-viaje-details [viajes]=viajes [camioneta]=truck></app-viaje-details>
        </div>
        <div *ngIf="!truckHasViaje(truck.name)">
            <button mat-icon-button aria-label="Agregar viaje" mat-button color="primary" 
                [routerLink]="['/viajes/new']"
                [queryParams]="{fechaServicio: formatDate(), 
                                camioneta: truck.name, 
                                chofer: truck.driverName}">
                Aregar viaje<mat-icon>add_circle</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>